<div class="container-fluid" id="main">
    <div class="row user-row-offcanvas row-offcanvas-left">
      <div class="col-md-3 col-lg-2 user-sidebar-offcanvas bg-light pl-0" id="user-sidebar" role="navigation">
        <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
          <li class="user-nav-item"><a class="user-nav-link" [routerLink]="'resbycity'">Order Food</a></li>
          <li class="user-nav-item"><a class="user-nav-link" [routerLink]="'order-list'">Apply Coupon</a></li>
          <li class="user-nav-item"><a class="user-nav-link" [routerLink]="'login'">LogOut</a></li>
        </ul>
      </div>
  
      <div class="col user-main pt-5 mt-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  